body {
    background: rgb(188, 252, 180);
    font: normal 12pt Arial;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;

}

section {
    font-size: 22px;
    font-family: 'Arial Narrow Bold', sans-serif ;
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

footer {
    color: rgba(0, 0, 0, 0.315);
    padding-top: 14px;
    text-align: center;
    font-style: italic;
}